SSIT_SERVER/Web References/SSSTokenGenerator/TokenDetailsPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://pojo.sss.tokengen/" targetNamespace="http://pojo.sss.tokengen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TokenGeneration">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tokenDetails" type="ns0:tokenDetailsRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TokenGenerationResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:tokenDetailsResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tokenDetailsRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sssid" type="xsd:string" />
      <xsd:element minOccurs="0" name="erbrn" type="xsd:string" />
      <xsd:element minOccurs="0" name="appcd" type="xsd:string" />
      <xsd:element minOccurs="0" name="trancd" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tokenDetailsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tokenid" type="xsd:string" />
      <xsd:element minOccurs="0" name="msg" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TokenGeneration" type="ns0:TokenGeneration" />
  <xsd:element name="TokenGenerationResponse" type="ns0:TokenGenerationResponse" />
  <xsd:element name="tokenDetailsRequest" type="ns0:tokenDetailsRequest" />
</xsd:schema>